
html, body, .dark {
background-color: black;
}

.btn-primary {
  background-color: #455;
  border-color: #355;
}

.btn-primary:hover {
  background-color: #355;
}


.bar-button {
  color: white;
  background-color: transparent;
  border: 0;
  text-align: center;
  vertical-align: middle;
}

.bar-button:hover {
  color: #455;
}

.video-bar {
  position: absolute;
  color: white;
  font-size: 48px;
  padding: 48px 64px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  /* for player and visibility opacity */
  z-index: 10;
}

.video-bar-top {
  top: 0;
}

.video-bar-bottom {
  bottom: 0;
  /*opacity: 0.0;*/
  /*transition-property: opacity;*/
  /*transition-delay: 0s;*/
  /*transition-duration: 5s;*/
}

/*.video-bar-bottom:hover {*/
  /*opacity: 1.0;*/
/*}*/

.video-media {
  display: block;
  margin: 0 auto;
}

.video-media video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: revert;
}

.titleFont {
  font-size: 28px;
}


/*.custom-bar {
  cursor: pointer;
  height: 24px;
  outline: thin solid #355;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 22px 0px;
}

.custom-bar span {
  background-color: #455;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
}*/


.dropdown-toggle {
  width: 100%;
  margin-bottom: 12px;
}


.played-time {
  background-color: #533;
  position: fixed;
  height: 20px;
  display: block;
  border-radius: 8px;
}
