{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
            background-color: black;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <ul>
    {% for i, videoName in videoFiles %}
      <li>
        <a class="btn btn-primary"
           href="{{ path('star-video', {'videoId': i}) }}">
          {{ videoName }}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
