{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Videos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .list-group, .list-group-item {
          background-color: #444;
          color: whitesmoke !important;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
        });
    </script>
{% endblock %}
#}

{% block content %}

  <div class="list-group">
    {% for i, videoName in videoFiles %}
      <a class="list-group-item"
         href="{{ path('star-video', {'videoId': i}) }}">
        {{ videoName }}
      </a>
    {% endfor %}
  </div>

{% endblock %}
