{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        /* Container needed to position the button. Adjust the width as needed */
        .container {
          position: relative;
          width: auto;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }

        /* Make the image responsive */
        .container img {
          width: 100%;
          height: auto;
        }

        /* Style the button and place it in the middle of the container/image */
        .container .btn {
          position: absolute;
          top: 8%;
          right: 8%;
          color: white;
          font-size: 16px;
          padding: 12px 24px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
        }

        *:fullscreen
        *:-ms-fullscreen,
        *:-webkit-full-screen,
        *:-moz-full-screen {
          overflow: auto !important;
        }

    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $(function () {

          function toggleFullScreen(elem) {
            // ## The below if statement seems to work better ## if ((document.fullScreenElement && document.fullScreenElement !== null) || (document.msfullscreenElement && document.msfullscreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
            if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
                if (elem.requestFullScreen) {
                    elem.requestFullScreen();
                } else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullScreen) {
                    elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
          }

          toggleFullScreen(document.body);

        });
    </script>
{% endblock %}


{% block body %}

    <div class="container">
      <img src="https://i.pinimg.com/originals/7e/4a/63/7e4a633b14bfecc98d08c5a2f8823981.gif" alt="Stargate Dial">
      <a class="btn btn-primary" href="{{ path('star-video', {'videoId': app.session.get("nextVideoId")}) }}">
        {{ "Next Episode" }}
      </a>
    </div>

{% endblock %}
