{% extends 'base.html.twig' %}

{% block title %}Star{% endblock %}
{% block sub_title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper, .content, .dark {
          background-color: #888;
        }

        .center-block {
          text-align: center;
        }

        .overall-block {
          margin-left: 4%;
          margin-right: 4%;
        }

        .next-button {
          vertical-align: bottom;
        }
    </style>
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $(function () {

          $('#myVideo').on('', function(e) {

          });

        });
    </script>
{% endblock %}
#}

{% block content %}

    <div class="center-block">
      <img class="img image" src="https://i.pinimg.com/originals/7e/4a/63/7e4a633b14bfecc98d08c5a2f8823981.gif" width="100%" height="100%">
      <a class="btn btn-primary pull-right next-button"
         href="{{ path('star-video', {'videoId': app.session.get("nextVideoId")}) }}">
         {{ "Next Episode" }}
      </a>
    </div>

{% endblock %}
