{% extends 'base.html.twig' %}

{% block title %}CAI{% endblock %}

{% block content %}

  {% set imagePath = "cai/generated/" ~ app.session.get("mergeId") ~ ".jpg" %}

  <img src="{{ asset(imagePath) }}" alt="result-image">

  <a class="btn btn-primary" href="{{ asset(imagePath) }}" download>
    <i class="fa fa-download"></i> Download
  </a>

  <a class="btn btn-primary" href="{{ path('cai-upload') }}">
    <i class="fas fa-upload"></i> Merge new images
  </a>

{% endblock %}
