{% extends 'base.html.twig' %}

{% block title %}{{ "log_in"|trans }}{% endblock %}
{% block sub_title %}{% endblock %}

{#
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
#}

{#
{% block javascripts %}
    {{ parent() }}
{% endblock %}
#}

{% block body %}

    <div class="wrapper">

        <div class="content-wrapper" style="margin-left: 0;">
            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        </div>

        <footer class="main-footer" style="margin-left: 0;">
            <div class="pull-right hidden-xs">
                <b>Version</b> {{ "version_code"|trans }}
            </div>
            <strong>Copyright &copy; 2019 - 2020 J.SYS</strong> All rights reserved.
        </footer>

    </div>

    {#    <div class="" style="padding: 1.5rem; margin-right: 0; margin-left: 0; border-width: .2rem; background-color: #0a0a0a;">#}
    {#        #}
    {#    </div>#}

{% endblock %}
