{% extends 'base.html.twig' %}

{% block title %}TransferData{% endblock %}
{% block sub_title %}Edit{% endblock %}

{% block content %}
    {{ include('transfer_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transfer_data_index') }}">back to list</a>

    {{ include('transfer_data/_delete_form.html.twig') }}
{% endblock %}
