{% extends 'base.html.twig' %}

{% block title %}New TransferData{% endblock %}

{% block content %}
    <h1>Create new TransferData</h1>

    {{ include('transfer_data/_form.html.twig') }}

    <a href="{{ path('transfer_data_index') }}">back to list</a>
{% endblock %}
